/* #logo {
    display: inline-block;
    width: 30px;
    height: 30px;
    max-width: 30px;
    margin: 0px;
} */

#jeong {
    width: 150px;
    height:205px;
    background-image: url('../static/jeong-trimmed.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 4px;
}