{% extends "layout.html" %}
{% block body %}
<h1 class="p-3 mb-0">Member</h1>
<hr class="mt-0">
<div class="pl-3 pr-3">
    <h2 class="text-muted">Professor</h2>
    <div class="row">
        <div class="col-sm-1 ml-4 mw-100 min-vh-50">
            <!-- <img src="static/jeong.jpg" alt="jeong manyon"> -->
            <div id=jeong></div>
        </div>
        <div class="col-sm-9  border-left">
            <p class="h3 mb-0">鄭 萬溶</p>
            <p class="text-black-50 mb-2">JEONG ManYong</p>
            <div>
                専門： 振動工学<br>
                学歴： 1989.2 朝鮮大学校 機械設計工学科<br>
                　　　 1989.2 同大学院 機械設計工学科<br>
                　　　 1996.3 東京都立大学 工学研究科博士課程 機械工学専攻<br>
                学位： 博士（工学）（東京都立大学）<br>
                学会： 日本機械学会
            </div>
        <div>

            </div>
        </div>
    </div>
    <div>
        <h2 class="text-muted">Students</h2>
        <div class="row w-75 ml-4">
            <div class="col-sm-3 p-0" style="max-width: 180px;">
                <h5>専攻科２年</h5>
                <p class="h3 mb-0">峯 慎平</p>
                <p class="text-black-50 mb-2">Mine Shinpei</p>
                <p class="h3 mb-0">金澤宏典</p>
                <p class="text-black-50 mb-2">Kanazawa Hironori</p>
            </div>
            <div class="col-sm-3 border-left border-right" style="max-width: 200px;">
                <h5>専攻科１年</h5>
                <p class="h3 mb-0">四之宮 魁杜</p>
                <p class="text-black-50 mb-2">Shinomiya Kaito</p>
                <p class="h3 mb-0">髙橋 怜史</p>
                <p class="text-black-50 mb-2">Takahashi Satoshi</p>
            </div>
            <div class="col-sm-3" style="max-width: 180px;">
                <h5>本科５年</h5>
                <p class="h3 mb-0">峯 慎平</p>
                <p class="text-black-50 mb-2">Mine Shinpei</p>
                <p class="h3 mb-0">金澤宏典</p>
                <p class="text-black-50 mb-2">Kanazawa Hironori</p>
            </div>

        </div>



    </div>
</div>




{% endblock %}
{% block footer %}
{% endblock %}