{% extends "layout.html" %}
{% block body %}
<h1 class="p-3 mb-0">Member</h1>
<hr class="mt-0">
<div class="pl-3 pr-3">
    <h2 class="text-muted">Professor</h2>
    <div class="row">
        <div class="col-sm-1 mw-100 min-vh-50 border">
            <!-- <img src="static/jeong.jpg" alt="jeong manyon"> -->
            <canvas class="bg-dark" style="width: 200px;height:200px;"></canvas>
        </div>
        <div class="col-sm-9">
            <p class="h3 mb-0">鄭萬溶</p>
            <p class="text-black-50">JEONG ManYong</p>
            <p>専門： 振動工学</p>
            <p>学歴： 1989.2 朝鮮大学校 機械設計工学科</p>
            <p>　　　 1989.2 同大学院 機械設計工学科</p>
            <p>　　　 1996.3 東京都立大学 工学研究科博士課程 機械工学専攻</p>
            <p>学位： 博士（工学）（東京都立大学）</p>
            <p>学会： 日本機械学会</p>
            <div>

            </div>
        </div>
    </div>
    <div>
        <h2 class="text-muted">Students</h2>
        <h5>専攻科２年</h5>
        <p>峯慎平</p>
        <p></p>
    </div>
</div>




{% endblock %}
{% block footer %}
{% endblock %}