{% extends "layout.html" %}
{% block body %}
<h1 class="p-3 mb-0">Research topics</h1>
<hr class="mt-0">
<ul class="list-group">
    <li class="list-group-item">剛体ブロックのロッキング振動に関する研究</li>
    <li class="list-group-item">深層学習を用いた打音診断</li>
    <li class="list-group-item">Wavelet解析を用いた異常診断システムの開発</li>
    <li class="list-group-item">交通流シミュレーションシステムの開発</li>
    <li class="list-group-item">ディープラーニングによる話者認識に関する研究</li>
    <li class="list-group-item">ディープラーニングによる感情認識に関する研究</li>
    <li class="list-group-item">機械学習による配管サポート最適化</li>
    <li class="list-group-item">ドライブレコーダによる交通データ計測システムの開発</li>
    <li class="list-group-item">定点カメラによる交通データ計測システムの開発</li>
    <li class="list-group-item">ウェアラブルデバイスによる熱中症予知システムの開発</li>
    <li class="list-group-item">コンピュータビジョンによる駐車場管理システムの開発</li>
</ul>

{% endblock %}
{% block footer %}
{% endblock %}